.board {
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, auto);
  margin-top: 5em;
}

.cell {
  width: 200px;
  height: 200px;
  border: 4px solid rgb(108, 225, 194);
  display: flex;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  font-size: 10em;
  background-color: #24BDAB;
}

 /* the goal is to remove the outer borders */
.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}

.cell:first-child {
  border-top-left-radius: 20px;
}

.cell:nth-child(3) {
  border-top-right-radius: 20px;
}

.cell:nth-child(7) {
  border-bottom-left-radius: 20px;
}

.cell:last-child {
  border-bottom-right-radius: 20px;
}

.cell:nth-child(3n + 1) {
  border-left: none;
}

.cell:nth-child(3n + 3) {
  border-right: none;
}

.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7) {
  border-bottom: none;
}