.winning-message {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 16, 12, 0.9);
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 5rem;
  flex-direction: column;
}

#restartButton {
  font-size: 3rem;
  color: #24BDAB;
  border-radius: 20px;
  padding: .25em .5em;
  cursor: pointer;
  margin-top: 3em;
}

#restartButton:hover {
  background-color: #24BDAB;
  color: white;
  border-radius: 20px;
}